[submodule "packages/postcss-syntax"]
	path = packages/postcss-syntax
	url = https://github.com/gucong3000/postcss-syntax.git
[submodule "packages/postcss-jsx"]
	path = packages/postcss-jsx
	url = https://github.com/gucong3000/postcss-jsx.git
[submodule "packages/postcss-html"]
	path = packages/postcss-html
	url = https://github.com/gucong3000/postcss-html.git
[submodule "packages/postcss-markdown"]
	path = packages/postcss-markdown
	url = https://github.com/gucong3000/postcss-markdown.git
